body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}

* {
    padding: 0;
}

#namesb {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

#password {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.signup {
    background-color: #419dee;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 20px;
    margin: 40px;
    cursor: pointer;
}